body {
  font-family: 'Times New Roman', serif;
  background-color: #fff;
  color: #000;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.7;
}

a {
  font-family: 'Arial', sans-serif;
  color: #F74F9E;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  font-family: 'Arial', sans-serif;
  color: #FFFC67;
  background-color: #F74F9E;
}


div.main {
  width: 480px;
  margin-left: 40px;
}

@media screen and (max-width: 600px) {
    div.main {   
    width: 80%;
    padding: 10px;
    margin: 10px;
}
}


/* Page title */

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2.1em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 30px;
}

h2 a {
  color: #F74F9E;
  font-weight: 700;
  text-decoration: none;
}

h2 a:hover {
  color: #FFFC67;
  background-color: #F74F9E;
  text-decoration: none;
}

/* Main para */

h3 {  
  font-size: 0.95em;
  font-weight: 400;
}

/* Nav menu */

h4 {
  font-family: 'Arial', sans-serif;
  font-size: 0.95em;
  color: #F74F9E;
}

h5 {
  font-size: 0.85em;
  font-weight: 400;
}
